@page "/"
@inject MarkdownService MarkdownService
@inject OllamaApiService OllamaApiService
@inject UploadFile UploadFile
@inject DownloadFile DownloadFile
@inject NavigationManager Navigation


<PageTitle>Home</PageTitle>

<textarea @bind="promptInput" rows="10" cols="50"></textarea>

<button @onclick="SendApiRequest">Отправить запрос</button>

<button @onclick="Download">Скачать файл</button>

<InputFile OnChange="UploadFile.UploadFiles" />

<h2>Selected file</h2>
<div>
    <div>File name: @UploadFile.FileName</div>
    <div>File size: @UploadFile.FileSize.ToString("n0") bytes</div>
    <div>File type: @UploadFile.FileType</div>
    <div>Last modified: @UploadFile.LastModified</div>
</div>

@if (!string.IsNullOrEmpty(UploadFile.ErrorMessage))
{
    <div>Error: @UploadFile.ErrorMessage</div>
}

<div>
    @((MarkupString)htmlOutput)
</div>

@code {
    private string promptInput = "Почему небо голубое?";
    private string htmlOutput = string.Empty;

    private async void SendApiRequest()
    {
        htmlOutput = MarkdownService.ConvertMarkdownToHtml(await OllamaApiService.GetOllamaResponseAsync(promptInput, "gemma2"));
        StateHasChanged();
    }

    private Microsoft.AspNetCore.Http.IHttpContextAccessor _httpContextAccessor { get; set; }

    private async Task Download()
    {
        string filePath = @"C:\Users\Vladislava\Desktop\AI-Sorter\";
        string fileName = "test.txt";
        var httpContext = _httpContextAccessor.HttpContext;
        await DownloadFile.DownloadFil(filePath, fileName, httpContext);
    }
}
